div.row(style="text-align: center")
	a#repos.button(style="background-color:#D8D9D0") Repos
	a#myrepos.button(style="background-color:#D8D9D0") My Repos
	a#myevents.button(style="background-color:#D8D9D0") My Events
